<div class="row justify-content-center">
  <div class="col-xs-11 col-sm-11 col-lg-8" style="max-width: 700px;">
    <div class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top:20px;">
      <h4 class="alert-heading">Thank You</h4>
      <p>
        Thank you for being a client of Find My Flock. We appreciate your investment in a diverse and inclusive mindset amongst tech companies. While the website has served a great and needed purpose, due to a strategy change we are closing down services for Find My Flock. We apologize for any inconvenience this may cause and hope you find an amazing career in tech through alternative venues, such as <a href="https://include.io/" target="_blank">https://include.io/</a>. If you have questions please contact Robyn Purvin, Outreach Coordinator for Turing School of Software & Design - <a href="mailto:robyn@turing.io">robyn@turing.io</a>. 
      </p>
      <!-- <button type="button" class="close" data&#45;dismiss="alert" aria&#45;label="Close"> -->
      <!--   <span aria&#45;hidden="true">&#38;times;</span> -->
      <!-- </button> -->
    </div>
    <div class="auth-form">
      <div class="text-center">
        <%= render "developers/shared/tab_nav" %>
        <div class="login-form">
          <h4 class="centered mt-5 mb-4">Log in to your <strong>job seeker</strong> account</h4>
          <p class="mb-4">
            Are you a <strong>recruiter</strong>?
            <strong>
              <%= link_to "Log in here", new_recruiter_session_path %>
            </strong>
          </p>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :email, required: false, autofocus: true, placeholder: 'Email', label: false %>
            <%= f.input :password, required: false, placeholder: 'Password', label: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <div class="form-actions">
              <%= f.button :submit, "Log in", class: 'log-in-button' %>
            </div>
          <% end %>
          <%= render "developers/shared/omniauth_buttons" %>
        </div>
        <div class="login-form-bottom">
          <div>
            <%= render "developers/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
