<p>Dear <%= @developer.full_name %>,</p>

<p>Oh, do we have exciting news for you today!</p>

<p>You are now matched as a: </p>

<ul>
  <% @jobs.each do |job| %>
    <h3><strong><%= job.title.humanize %></strong> at <%= job.company.name %>!</h3>
    Benefits:
    <ul>
      <% job.benefits[0..4].each do |benefit| %>
        <li><%= benefit.humanize %></li>
      <% end %>
      <% if job.benefits.count > 5 %>
        <li><strong>And much more!</strong></li>
      <% end %>
    </ul>
    <br>
    Company culture:
    <ul>
      <% job.cultures.each do |culture| %>
        <li><%= culture.humanize %></li>
      <% end %>
      <br>
    </ul>
    <p><%= sanitize job.description.truncate_words(60) %></p>
    <p><%= link_to "Click here to see more and apply", new_job_application_url(job) %></p>
    <br><br>
  <% end %>
</ul>

<p>This could be the beginning of an incredible opportunity for you. What if it’s your dream job?</p>

<p>Go ahead and <%= link_to "login", dashboard_developers_url %> to check things out.</p>

<p>Like what you see? Submit your resume and cover letter directly through our platform and the company will be able to review it the next opportunity they get. It’s as easy as that!</p>

<p>With love and solidarity,<br>
Find My Flock Team<p>
