<p>Hi <%= @matches_array.first.full_name %>!</p>

<p>Friendly reminder that you have matches that are waiting for you on the platform!</p>

<p>Your matches include:</p>

<ul>
  <% @matches_array.each do |match| %>
    <h3><strong><%= match.job_title.humanize %></strong> at <%= match.company_name %>!</h3>
    Benefits:
    <ul>
      <% match.benefits[0..4].each do |benefit| %>
        <li><%= benefit.humanize %></li>
      <% end %>
      <% if match.benefits.count > 5 %>
        <li><strong>And much more!</strong></li>
      <% end %>
    </ul>
    <br>
    Company culture:
    <ul>
      <% match.cultures.each do |culture| %>
        <li><%= culture.humanize %></li>
      <% end %>
      <br>
    </ul>
    <p><%= sanitize match.description.truncate_words(60) %></p>
    <p><%= link_to "Click here to see more and apply", new_job_application_url(match.job) %></p>
    <br><br>
  <% end %>
</ul>

<p>With love and solidarity,<br>
Find My Flock Team<p>
