<%= simple_form_for company, url: url, action: :update, local: true do |form| %>
  <h5 class="mt-3">Basic</h5>
  <div class="form-row">
    <div class="col-12 col-md-6">
      <%= form.input :name %>
      <small class="form-text text-muted" style="margin:0;">We will only show the name to our candidate in case of 100% match.</small>
    </div>
    <div class="col-12 col-md-6">
      <%= form.input :industry %>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col col-md-6">
      <%= form.input :url %>
    </div>
  </div>

  <h5 class="mt-5 mb-3">Company Benefits</h5>
  <div class="row">
    <% Benefit.all.each_slice(5) do |benefits| %>
      <% benefit_ids = @company.benefits.pluck(:id) %>
      <div class="col col-6">
        <% benefits.each do |benefit| %>
          <div class="custom-control custom-checkbox mr-3">
            <input type="checkbox" class="custom-control-input"
              <%= 'checked="checked"' if benefit_ids.include?(benefit.id) %>
              value="<%= benefit.id %>"
              name="company[benefit_ids][]"
              id="company_benefits_<%= benefit.value %>">
            <label class="custom-control-label" for="company_benefits_<%= benefit.value %>">
              <%= benefit.value %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h5 class="mt-5 mb-3">Company Culture</h5>
  <div class="row">
    <% Culture.all.each_slice(5) do |cultures| %>
      <% culture_ids = @company.cultures.pluck(:id) %>
      <div class="col col-6">
        <% cultures.each do |culture| %>
          <div class="custom-control custom-checkbox mr-3">
            <input type="checkbox" class="custom-control-input"
              <%= 'checked="checked"' if culture_ids.include?(culture.id) %>
              value="<%= culture.id %>"
              name="company[culture_ids][]"
              id="company_cultures_<%= culture.value %>">
            <label class="custom-control-label" for="company_cultures_<%= culture.value %>">
              <%= culture.value %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h5 class="mt-5 mb-3">Pictures</h5>
  <small class="form-text text-muted">Upload your company logo and office space to show what makes working at your company unique.</small>
  <br>
  <%= form.file_field :images, multiple: true, direct_upload: true, label:false, accept: "image/x-png,image/jpeg"  %>
  <br /><br />
  <% if @company.images.present? %>
    <div class="row">
      <div class="col-12">
        <p>You can view the pictures already uploaded:</p>
        <%= render "utils/carousel", images: @company.images %>
      </div>
    </div>
  <% end %>

  <div class="text-center mt-3">
    <%= form.submit "Confirm", class: "btn btn-application"  %>
  </div>
<% end %>
