<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Find My Flock - Jobs You Want.</title>
  <meta name="description" content="We match your skills, experience and desired benefits to the right company for you.">
  <%= favicon_link_tag %>

  <% if Rails.env.production? %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/hotjar' %>
  <% end %>

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="Find My Flock - Jobs You Want." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= ENV['DOMAIN'] %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="We match your skills, experience and desired benefits to the right company for you." />
  <meta property="og:site_name" content="Find My Flock - Jobs You Want." />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FindMyFlock">
  <meta name="twitter:title" content="Find My Flock - Jobs You Want.">
  <meta name="twitter:description" content="We match your skills, experience and desired benefits to the right company for you.">
  <meta name="twitter:creator" content="@FindMyFlock">
  <meta name="twitter:image:src" content="<%= meta_image %>">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>

  <div class="main-body">
    <%= render 'shared/flash' %>

    <%= render 'shared/navbar/main-navbar' %>

    <div class="alert alert-info alert-dismissible fade show" style="max-width:900px;margin:20px auto;" role="alert">
      <h4 class="alert-heading">Thank You</h4>
      <p>
        Thank you for being a client of Find My Flock. We appreciate your investment in a diverse and inclusive mindset amongst tech companies. While the website has served a great and needed purpose, due to a strategy change we are closing down services for Find My Flock on October 14, 2019. We apologize for any inconvenience this may cause.
      </p>
      <p>
        For employers looking for staffing, Turing School would love to help you with your hiring needs for junior/mid/senior level developers. Our goal is to ensure our graduating students and alumni (who have several years of experience) can find great jobs with great companies!
      </p>
      <p>
        If you would like to continue to receive support in your search for great candidates please reach out to Robyn Purvin, Outreach Coordinator for Turing School of Software & Design - <a href="mailto:robyn@turing.io">robyn@turing.io</a>. 
      </p>
      <p>
        For candidates seeking employment, I hope you find an amazing career in tech through alternative venues, such as <a href="https://include.io/">https://include.io/</a>. If you have questions please contact Robyn Purvin, Outreach Coordinator for Turing School of Software & Design - <a href="mailto:robyn@turing.io">robyn@turing.io</a>. 
      </p>
    </div>

    <main>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>

    <%= render 'shared/zendesk' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:geocode, :api_key)}&libraries=places" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </div>
</body>
</html>
